body{
    background-color: wheat;
}
p{
    color: blue;
}
li{
    color: violet;
}
table{
    margin: 3px;
    background-color: whitesmoke;
    border: auto;
    color: black;
    font-style: oblique;
    font-size: auto;
}